*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-fenner-int-probe-clarification.xml
draft-fenner-intarea-probe-clarification.xml
draft-fenner-probe-clarification.xml
package-lock.json
report.xml
!requirements.txt
